/**
 * SidebarCardNode styles
 */

.sidebar-card-node {
  max-height: 100%;
}

/* Reset breadcrumb spacing when used as sidebar card title */
.sidebar-card-node--block .sidebar-card__title .node-breadcrumbs {
  margin: 0;
  padding: 0;
}
