/**
 * SidebarCardLocalGraph styles
 */

.sidebar-card-local-graph {
  min-height: 280px;
}

.sidebar-card-local-graph__content {
  height: var(--graph-card-height);
  min-height: var(--graph-card-height);
}
