/**
 * SidebarCardLocalGraph styles
 */




.sidebar-card-local-graph {
  min-height: var(--layout-size-6xl);
}

.sidebar-card-local-graph__content {
  height: var(--graph-card-height);
  min-height: var(--graph-card-height);
}
