/**
 * SidebarCardLocalGraph styles
 */


:root {
  --features-sidebar-components-sidebar-card-local-graph-min-height-280: 280px;
}

.sidebar-card-local-graph {
  min-height: var(--features-sidebar-components-sidebar-card-local-graph-min-height-280);
}

.sidebar-card-local-graph__content {
  height: var(--graph-card-height);
  min-height: var(--graph-card-height);
}
